[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg-python = "*"
prompt-toolkit = "*"
moviepy = "*"
python-slugify = "*"
beautifulsoup4 = "*"
openai = "*"
requests = "*"
chardet = "*"
charset-normalizer = "*"
pandas = "*"
elevenlabs = "*"
pillow = "*"
giphy-client = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
plotly = "*"
weaviate-client = "*"

[dev-packages]
jupyterlab = "*"
pylint = "*"
autopep8 = "*"
pandas = "*"

[requires]
python_version = "3.11"
